version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - polyglot-flow

  polyglot-flow:
    build:
      context: ./polyglot-flow
    container_name: polyglot-flow
    ports:
      - "3000:3000"
    env_file:
      - .env
